.page[b-vfcnz1brlg] {
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: left;
}


.main[b-vfcnz1brlg] {
    flex: 1;
}

.sidebar[b-vfcnz1brlg] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-vfcnz1brlg] {
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-vfcnz1brlg]  a, .top-row .btn-link[b-vfcnz1brlg] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-vfcnz1brlg] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-vfcnz1brlg] {
        display: none;
    }

    .top-row.auth[b-vfcnz1brlg] {
        justify-content: space-between;
    }

    .top-row a[b-vfcnz1brlg], .top-row .btn-link[b-vfcnz1brlg] {
        margin-left: 0;
    }


@media (min-width: 641px) {
    .page[b-vfcnz1brlg] {
        flex-direction: row;
    }

    .sidebar[b-vfcnz1brlg] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-vfcnz1brlg] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .main > div[b-vfcnz1brlg] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
}